 <footer>
                
                <div id="footersection">
            
                    <figure>
                        <img src="/img/csi-logo-transparent.png" alt="CSI Logo" />
                    </figure>
            
                    <div>
                        CST336 Internet Programming. 2020&copy; Zauderer
                        <br>
                        <strong>Disclaimer:</strong> The information in this webpage is fictitious.
                        <br>
                        It is used for academic purposes only.
                        <br>
                        Web Design By <%= randomCompanyName %>
                    </div>
            
                </div>
            </footer>
        
        </div>

    </body>

</html>