<!-- Color Scheme -->
        <!--Dark gray: #737373-->
        <!--Light gray: #d9d9d9-->
        <!--Blue: #38b6ff-->
        <!--Green: #7ed957-->

<!DOCTYPE html>
<html>
    
    <head>
        
        <meta charset="utf-8"/>
        <title> Computer Science Institute </title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        
    </head>
    
    <body>
        
        <div id="headersection">
            
            <div id="logo-image">
                <a href="/">
                    <img src="/img/csi-logo-transparent.png" alt="CSI Logo" /></a>
            </div>
             
            <nav>
                <a href="/java"> JAVA </a>
                <a href="/c++"> C++ </a>
                <a href="/python"> PYTHON </a>
            </nav>
            
        </div>
       
       <br> <br>