 <%- include('partials/header.ejs') %>
       
       <div id="content">
           
           <h2>WHAT IS C++?</h2>
           
            <div id="c-top">
               <figure>
                   <img class="img-content" src="/img/c++-image-1.jpg" alt="laptop with glasses">           
                </figure>
               <div>
                    <p>Created by developer Bjarne Stroustrup, C++ is a general purpose object-oriented language. 
                    <br><br>C++ was initially called “C with class” due to its use of classes.
                    <br><br>C++ is a hybrid language, meaning it can be coded in c style or object-oriented style.
                    <br><br>C++ includes the use of pointers which provides for the allocation (and deallocation) of memory which can lead to faster execution. 
                    </p>
               </div>
           </div>
           
           <div id="c-bottom">
               
               <h3><Strong>Get Started!</Strong></h3>

               <p><Strong>1.</Strong><br>Download a C++ compiler<br><em>Free compilers are available online</em></p>
            
               <p><Strong>2.</Strong><br>Write your C++ program<br>using a text editor </p>
               
               <p><Strong>3.</Strong><br>Compile your code<br>with your compiler</p>
               
               <p><Strong>4.</Strong><br>Run your program<br>and see the results of your hard work!</p>
               
           </div>
           
           <div id="references">
           
               <hr>
               <a class="reference-link" href="https://www.educative.io/edpresso/what-is-cpp">[1] https://www.educative.io/edpresso/what-is-cpp</a>
               <br>
               <a class="reference-link" href="https://www.thoughtco.com/candand-for-beginners-958278">[2] https://www.thoughtco.com/candand-for-beginners-958278</a>
               <br>
               <a class="reference-link" href="https://www.pexels.com/photo/coding-computer-data-depth-of-field-577585/">[3] Image: Kevin Ku on Pexels</a>
               
           </div>
           
        </div>
        
<%- include('partials/footer.ejs') %>    