 <%- include('partials/header.ejs') %>
       
       <div id="content">
            <p>This website will give you insight into three major programming languages: Java, C++, and Python. <br>
            Each page will provide a brief history, some advantages of the language, and how to get started.</p>
            <h2>Click on a language below to learn more!</h2>
            
            <br><br>
            
            <div class="logos">
                <a class="logos-item" href="/java">
                    <img src="/img/java-logo-1.png" alt="Java Logo" /></a>
                <a class="logos-item" href="/c++">
                    <img src="/img/c++-logo.png" alt="C++ Logo" /></a>
                <a class="logos-item" href="/python">
                    <img src="/img/Python-Logo-1.png" alt="Python Logo" /></a>
            </div>
               
            <br><br><br><br>
               
            <div id="references">
               <hr>
               <a class="reference-link" href="https://www.cleanpng.com/">[1] Logos from https://www.cleanpng.com/</a><br>
               <a class="reference-link" href="https://www.hiclipart.com/">[2] Logos from https://www.hiclipart.com/</a>
               <br>
           </div>
       
 <%- include('partials/footer.ejs') %>          