 <%- include('partials/header.ejs') %>
       
       <div id="content">
           
           <h2>WHAT IS JAVA?</h2>
           
           <div id="java-top">
               
               <figure>
                   <img class="img-content" src="/img/java-image.jpg" alt="desk with laptop, notebook, and pen">           
                </figure>
           
               <div>
                   <p>Released by Sun Microsystems in 1995, Java is a popular programming language. 
                   Java is object-oriented and class based, which means that everything is treated as an object that is part of class.
                   Java is commonly used for banking, financial services, retail, big data and in the scientific and research community.</p>
           
                   <ul>
                       <li><strong>Secure</strong> <em>After compinlation, the code is changed into bytecode, which is not humans cannot read.</em></li>
                       <li><strong>Dynamic</strong> <em>Dynamic memory allocation is supported by Java, which increases performance and descreses wasted memory.</em></li>
                       <li><strong>Portable</strong> <em>Code only needs to be written once and when compoiled can be run on all different platforms.</em></li>
                   </ul>
               </div>
           
           </div>
           
           <div id="java-bottom">
               
               <details>
                   <summary>
                       <Strong>JVM</Strong>
                   </summary>
                   <p><br>The Java Virtual Machine <br>provides a run-time environemnt <br>in which bytecode is exectued.</p>
               </details>
               
               <h1>&starf;</h1>
               
               <details>
                   <summary><Strong>JRE</Strong></summary>
                   <p><br>The Java Runtime Environment <br>is the software implementation <br>of the JVM which provides 
                   the set <br>of all class libraries and tools.</p>
               </details>
               
               <h1>&starf;</h1>
               
               <details>
                   <summary><Strong>JDK</Strong></summary>
                   <p><br>The Java Development Kit<br> contains the JRE, a compiler, <br>and other development tools.</p>
               </details>
               
           </div>
           
           <br> <br>
           
           <div id="references">
               <hr>
               <a class="reference-link" href="https://www.edureka.co/blog/what-is-java/">[1] https://www.edureka.co/blog/what-is-java/</a>
               <br>
               <a class="reference-link" href="https://www.pexels.com/photo/code-coding-computer-data-574073/">[2] Image: Lukas on Pexels</a>
           </div>
       
       </div>
       
       <br> <br>
       
       
<%- include('partials/footer.ejs') %>    