 <%- include('partials/header.ejs') %>
       
       <div id="content">
            
            <h2>WHAT IS PYTHON?</h2>
            
            <div id="python-top">
               <figure>
                   <img class="img-content" src="/img/python-image.jpg" alt="laptop with code">           
                </figure>
               <div>
                   <p>Released in 1991, Python was developed by Guido van Possum. <br>A high level object-oriented programming language, 
                   Python is many programmers first choice in languages. Python’s syntax is very simple and readable, as well as 
                   succinct, providing for concise code. <br>One major advantage of Python is that it can execute immediately upon being 
                   written, which makes debugging a lot faster. <br><br>Python 2, as well as the newer version Python 3, both remain very popular. <br><br>One 
                   interesting thing to note about Python is its use of a new line to separate commands, as opposed to many other 
                   languages which a require a semicolon or some other character to complete a statement. </p>
                </div>
           </div>
           
           <div id="python-bottom">
               
               <div>
                   <ol>
                       <li>Released in 2000</li>
                       <li>Syntax difficult to understand</li>
                       <li>Print Function: print "hello"</li>
                       <li>Define a Unicode string value with "u"</li>
                   </ol>
               </div>

               <h1>Python 2</h1>
            
               <h3>VS</h3> 
               
               <h1>Python 3</h1>
               
               <div>
                   <ol>
                       <li>Released in 2008</li>
                       <li>Syntax easy to understand</li>
                       <li>Print Function: print ("hello")</li>
                       <li>String values are by default Unicode</li>
                   </ol>
               </div>
           
           </div>
           
            <div id="references">
           
               <hr>
                <a class="reference-link" href="https://www.w3schools.com/python/python_intro.asp">[1] https://www.w3schools.com/python/python_intro.asp</a>
               <br>
                <a class="reference-link" href="https://www.guru99.com/python-2-vs-python-3.html">[2] https://www.guru99.com/python-2-vs-python-3.html</a>
               <br>
               <a class="reference-link" href="https://www.pexels.com/photo/macbook-air-turned-on-226232/">[3] Image: Oluwaseun Duncan on Pexels</a>
           
           </div>
       
       </div>
       
<%- include('partials/footer.ejs') %>    